body {
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(90deg,#363630 0%, #d6d6c7 50%, #363630 100%);
    font-family: 'Cinzel', serif;
}

#main {
    margin-top: 6%;
}

#title {
    font-size: 3vw;
    left: 23%;
    position: absolute;
    z-index: 1;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.6);
}

#img-caption {
    position: absolute;
    top: 73%;
    left: 20%;
}

#image-caption2 {
    font-weight: normal;
    margin: 3%;
    text-align: center;
    font-size: 1vw;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    filter: sepia(100%) blur(10px);
    border-radius: 15px;
    position: relative;
}

.blur {
    background-image: url(https://pbs.twimg.com/media/Ecexv0CXgAYx0rP?format=jpg&name=large);
    background-position: 0% 80%;
    background-size: cover;
    position: absolute;
    top: 31vw;
    height: 50%;
    width: 62%;
    z-index: 1;
    filter: sepia(60%);
    border-radius: 15px;
    border: 10px double gray;
}

#disks {
    position: absolute;
    z-index: 2;
    top: 33vw;
    left: 23vw;
    font-size: 1.3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

#disks li {
    font-weight: bolder;
    margin-bottom: 20px;
    text-shadow: 3px 3px 9px rgba(137, 36, 36, 0.7), 7px 7px 4px rgba(0,0,0,0.6);
    color: rgb(50, 12, 12);
}

#tribute-info {
    background-color: rgb(94, 98, 98);
    border-radius: 10px;
    border: 5px solid rgb(208, 179, 149);
    height: 26%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    margin-bottom: 2vw;
}

#life-cycle {
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(82, 32, 32);
    margin: 1.5vw 0;
    margin-bottom: 0;
    text-shadow: 5px 5px 10px rgb(240, 240, 240);
}

#description {
    color: rgb(255, 255, 255);
    font-size: 0.8vw;
    padding: 0 3vw;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    margin-left: 3vw;
    margin-top: 1vw;
}

ol  {
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

hr {
    width: 50px;
    margin: 20px 0px;
}

#first, 
#second,
#third,
#fourth {
    font-size: 0.8vw;
}

#first {
    color: rgb(148, 148, 148);
    text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    width: 16%;
}

#second {
    color: rgb(84, 40, 40);
    width: 16%;
}

#third {
    color:rgb(50, 28, 28);
    text-shadow: 0px 0px 6px rgba(140, 140, 140, 0.6);
    width: 16%;
}

#fourth {
    color:rgb(67, 42, 42);
    text-shadow: 0px 0px 6px rgba(140, 140, 140, 0.6);
    width: 16%;
}

a:hover {
    color: rgb(56, 24, 24);
    font-size: large;
}

a {
    color: rgb(226, 164, 164);
    transition: all 500ms ease-in-out;
    text-decoration: none;
    margin: 0;
}

#link {
    margin-left: 0px;
    margin-top: 2vw;
    font-size: 0.7vw;
}

#letter {
    z-index: 2;
    position: absolute;
    left: 20vw;
    height: 140px;
    filter: saturate(70%);
}
